<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wongwahmeni</title>
</head>
<style>
    /*<!--here you specify the custom font and its font file-->*/
    @font-face {
        font-family: symbola;
        src: url(../symbola.ttf);
    }

    body {
        font-family: symbola;
    }
</style>
<body style="">
<div style="columns: 2">
    {% for date, group in rows -%}
        <b>{{ date }}:</b><br/>
        {% for name, text in group -%}
<!--            <b>{{ name }}:</b><br/>-->
            <b>{{ name }}:</b>
            {{ text }}<br/>
        {%- endfor %}
    {%- endfor %}
</div>
</body>
</html>